@page
@model CRM.Web.Areas.Identity.Pages.Account.RegisterModel
@{
    ViewData["Title"] = "S'inscrire";
}

<h1>@ViewData["Title"]</h1>

<div class="row">
    <div class="col-md-4">
        <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
            <h2>Créer un nouveau compte.</h2>
            <hr />
            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
            <div class="floating-label-group">
                <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" placeholder="nom@exemple.com" />
                <label asp-for="Input.Email">Courriel</label>
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div class="floating-label-group">
                <input asp-for="Input.Password" class="form-control" autocomplete="new-password" aria-required="true" placeholder="Mot de passe" />
                <label asp-for="Input.Password">Mot de passe</label>
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
            <div class="floating-label-group">
                <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" placeholder="Confirmer le mot de passe" />
                <label asp-for="Input.ConfirmPassword">Confirmer le mot de passe</label>
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>
            <button id="registerSubmit" type="submit" class="w-100 btn btn-lg btn-primary">S'inscrire</button>
        </form>
    </div>
    <div class="col-md-6 col-md-offset-2">
        <section>
            <h3>Utiliser un autre service pour s'inscrire.</h3>
            <hr />
            @{
                if ((Model.ExternalLogins?.Count ?? 0) == 0)
                {
                    <div>
                        <p>
                            Aucun service d'authentification externe n'a été configuré. Voir <a href="https://go.microsoft.com/fwlink/?LinkID=532715">cet article</a>
                            pour plus de détails sur la configuration de cette application ASP.NET pour prendre en charge la connexion via des services externes.
                        </p>
                    </div>
                }
                else
                {
                    <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
                        <div>
                            <p>
                                @foreach (var provider in Model.ExternalLogins!)
                                {
                                    <button type="submit" class="btn btn-primary" name="provider" value="@provider.Name" title="S'inscrire en utilisant votre compte @provider.DisplayName">@provider.DisplayName</button>
                                }
                            </p>
                        </div>
                    </form>
                }
            }
        </section>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
